.gradle/
build/
out/
jmeter/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Logs / Temp ###
logs/
tmp/
test-output/

### OS files ###
.DS_Store
Thumbs.db
*.swp
*.swo

### Local configs ###
/gradle.properties
gradle.properties
src/main/resources/application-home.yml
src/main/resources/application-work.yml


# Obsidian local settings
docs/.obsidian/

*.http

~/.gradle/gradle.propertiesdevbid-redis-key.pem
