version: '3.8'
services:
    devbid-app:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: devbid-app
      ports:
        - "3000:3000"
      environment:
        - SERVER_PORT=3000
        - DB_USERNAME=${DB_USERNAME}
        - DB_PASSWORD=${DB_PASSWORD}
        - REDIS_PASSWORD=${REDIS_PASSWORD}
        - KAKAO_CLIENT_ID=${KAKAO_CLIENT_ID}
        - KAKAO_CLIENT_SECRET=${KAKAO_CLIENT_SECRET}
        - KAKAO_BUSINESS_SECRET=${KAKAO_BUSINESS_SECRET}
        - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
        - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
        - AWS_S3_BUCKET=${AWS_S3_BUCKET}
        - AWS_REGION=${AWS_REGION:-ap-northeast-2}
        - AWS_CLOUDFRONT_DOMAIN=${AWS_CLOUDFRONT_DOMAIN}
        - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
        - AWS_SECRET_KEY=${AWS_SECRET_KEY}
      restart: unless-stopped