server:
  port: ${SERVER_PORT:3000}

spring:
  datasource:
    url: jdbc:p6spy:mysql://devbid-aws.ctcs86yq6ak9.ap-northeast-2.rds.amazonaws.com:3306/devbid_home?serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    driver-class-name: com.p6spy.engine.spy.P6SpyDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    database-platform: org.hibernate.dialect.MySQLDialect
    properties:
      hibernate:
        default_batch_fetch_size: 100
  mvc:
    hidden method:
      filter:
        enabled: true
  data:
    redis:
      host: 13.125.27.106
      port: 6379
      password: ${REDIS_PASSWORD}
  session:
    store-type: redis
    redis:
      namespace: devbid:session
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - profile_nickname
              - account_email
            client-name: Kakao
            client-authentication-method: client_secret_post

          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope:
              - profile
              - email
            client-name: Google

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

cloud:
  aws:
    s3:
      bucket: ${AWS_S3_BUCKET:}
      region: ${AWS_REGION:ap-northeast-2}
    cloudfront:
      domain: ${AWS_CLOUDFRONT_DOMAIN:}
    credentials:
      access-key: ${AWS_ACCESS_KEY:}
      secret-key: ${AWS_SECRET_KEY:}
    stack:
      auto: false

logging:
  level:
    p6spy: INFO
    org.springframework.web.servlet.handler.HandlerMappingIntrospector: ERROR