<configuration>

  <!-- 콘솔 앱펜더 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="p6spy" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <!-- 애플리케이션 로그 -->
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
