<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<h2>register</h2>

<div th:if="${message}" style="color: red;">
    <p th:text="${message}"></p>
</div>

<form th:action="@{/register}" method="post">
  <div>
    <label>username</label>
    <input type="text" name="username" required>
  </div>
  <div>
    <label>email</label>
    <input type="email" name="email" required>
  </div>
  <div>
    <label>password</label>
    <input type="password" name="password" required>
  </div>
  <div>
    <label>nickname</label>
    <input type="text" name="nickname" required>
  </div>
  <div>
    <label>phonenum</label>
    <input type="text" name="phone" required>
  </div>
  <div>
    <button type="submit">submit</button>
  </div>
</form>

<div>
    <p><a href="/login">login</a></p>
    <p><a href="/">home</a></p>
</div>
</body>
</html>