<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/css/theme.css" rel="stylesheet">
</head>
<body>

<div th:if="${users != null and !users.isEmpty()}">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Nickname</th>
        <th>Phone</th>
        <th>Created Date</th>
        <th>Update Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.username.value}">username</td>
        <td th:text="${user.email.value}">email</td>
        <td th:text="${user.nickname.value}">nickname</td>
        <td th:text="${user.phone.value}">phone</td>
        <td th:text="${#temporals.format(user.createdAt, '| yyyy-MM-dd | HH:mm |')}">date</td>
        <td th:text="${#temporals.format(user.updatedAt, '| yyyy-MM-dd | HH:mm |')}">date</td>
        <td th:text="${user.status}">status</td>
      </tr>
    </tbody>
  </table>
  <p>Total Users: <span th:text="${userCount}">0</span></p>
</div>

<div th:if="${users == null or users.isEmpty()}">
  <p>null</p>
</div>

<div>
    <p><a href="/">home</a></p>
    <p><a href="/logout">logout</a></p>
</div>
</body>
</html>