<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ㅇㅅㅇ</title>
    <link href="/css/theme.css" rel="stylesheet">
</head>
<body>

<div th:if="${message}">
  <script th:inline="javascript">
    alert([[${message}]]);
  </script>
</div>

<div th:if="${isLoggedIn}">
    <p><span th:text="${nickname}" style="color: red;"></span>  welcome</p>
    <p>status : <span th:text="${status}" style="color: greenyellow"></span></p>
    <p><a href="/logout">logOut</a></p>
    <p><a th:href="@{/users/{id}/edit(id=${userId})}">userUpdate</a></p>
    <p><a href="/users">userList</a></p>
    <br>
    <p><a href="/productsMain">productsMain</a></p>
    <a href="/auctionMain">auctionMain</a>
</div>

<div th:unless="${isLoggedIn}">
    <p>not login</p>
    <p><a href="/login">login</a></p>
</div>
<p><a href="/users/new">userRegister</a></p>
</body>
</html>
