<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ㅇㅅㅇ</title>
</head>
<body>
<div th:if="${message}">
  <script th:inline="javascript">
    alert([[${message}]]);
  </script>
</div>
<div th:if="${isLoggedIn}">
    <span th:text="${username}"></span>
    <p><a href="/users/userSearch">userSearch</a></p>
    <p><a href="/logout">logout</a></p>
</div>

<div th:unless="${isLoggedIn}">
    <p>not login</p>
    <p><a href="/login">login</a></p>
</div>
<p><a href="/register">register</a></p>
</body>
</html>
